style= require('./kanban.component.sass')
.kanban
  each group in groups && window.Object.keys(groups)
    .lane
      - var tag = (tags[group] || [])[0] || {}
      h2(style={color: tag.color})= tag.title || 'Unknown'
      each task in groups[group]
        .card
          header
            .priority= task.priority
            
          h3= task.title
          p= task.description
      
